# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
PDL1
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
params/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# BindCraft specific
cas12a_small/
cas12a_med/

*.log
nohup.out
*.pdb
*.fasta
*.csv
*.html
*.png
*.txt
